.nav-link {
    color: #000;
}

.navbar-text {
    color: #000;
}

.nav-link:hover {
    color: #000;
}

.navbar-brand {
    color: #b36b53;
    font-weight: light;
}

.navbar-brand:hover {
    color: #000;
}

p {
    font-size: large;
}





