{% extends 'store/main.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

    <div class="container pt-5" style="max-width: 1000px">
      <div class="col-12">
        <h1 class="h2">Meus Pedidos</h1>
      </div>
      <div class="col-12 d-flex justify-content-between">
        <p style="font-size: 20px;"><small class="text-muted">Veja seus pedidos e detalhes pessoais</small></p>
      </div>
      <hr/>
    </div>



    


    

  {% endblock %}


