{% extends 'store/main.html' %}

{% load static %}


{% block content %}

    <div class="container">
        <main class="pt-5">
            <div class="row g-3">
                <div class="col-md-5 col-lg-5 order-md-first bg-light">
                    <img class="img-fluid mx-auto d-block mb-5" width="300px" height="300px" alt="Responsive image"
                        src="{{ product.image.url }}">
                </div>
                <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                    <h1 class="mb-0 h4">{{ product.name }}</h1>

                    <p>{{ product.description|slice:":355" }}...</p>
                    <div class="border">
                        <div class="col border-bottom">
                            <div class="row p-3">
                                <div class="col-6">Hardback</div>
                                <div class="col-6 text-end"><span class="h4 fw-bold">R$ {{ product.price }}</span></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row p-3">
                                <div class="col-6 text-end">

                                    <div class="btn-group btn-group-toggle mb-4" data-toggle="buttons">
                                        <label class="btn btn-dark active">
                                            <input type="radio" name="sizes" value="P"> P
                                        </label>
                                        <label class="btn btn-dark">
                                            <input type="radio" name="sizes" value="M"> M
                                        </label>
                                        <label class="btn btn-dark">
                                            <input type="radio" name="sizes" value="G"> G
                                        </label>
                                        <label class="btn btn-dark">
                                            <input type="radio" name="sizes" value="GG"> GG
                                        </label>
                                    </div>

                                    <div class="row p-3">
                                        <button type="button" class="btn btn-dark d-inline-block " onclick="removeQuantity()">-</button>
                                        <input type="number" class="text-center d-inline-block mx-1" value="1" id="product-quantity" name="product-quantity" style="max-width: 50px;">
                                        <button type="button" class="btn btn-dark" onclick="addQuantity()">+</button>
                                    </div>
                                    

                                    <button type="button" 
                                            hx-post="{% url 'cart:add_to_cart' %}" 
                                            hx-vals='{ "productid": "{{ product.id }}" }' 
                                            hx-include="input[name='product-quantity'], input[name='sizes']:checked" 
                                            hx-target="#cart-quantity" 
                                            hx-swap="outerHTML" 
                                            id="add-button" value="{{ product.id }}" style="border: 1px solid #333;"
                                            class="btn btn-light mt-4">Add to basket</button>

                                            {% if messages %}
                                            {% for message in messages %}
                                                {{ message }}
                                            {% endfor %}
                                            {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>



<script src="{% static 'js/product-detail.js' %}"></script>

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
})
</script>
{% endblock %}


